@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Fremont, CA 94555<br />
    <abbr title="Phone">P:</abbr>
    787-690-0057
</address>

<address>
    <strong>Support:</strong> <a href="camagruappdmontoya@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="camagruappdmontoya@gmail.com">Marketing@example.com</a>
</address>
